.wrapper {
    background-color: lightgrey;
    margin-bottom: 15px;
}

.container { 
    padding: 5px;
    display: grid;
    grid-template-columns: 25px 75px auto 200px;
    max-width: 600px;
}

.fromTo {
    display: flex;
    justify-content: space-between;
}

