// @import "~variables";

// 
// Fonts
// 
// $font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
$font-family: 'Roboto', sans-serif;

$white: white;
$green: #003334;
$yellow: #FFA500;
$lightestgrey: #f1f1f1;
$lightgrey: #c3c3c3;
$grey:#636363;
$darkgrey: #363636;
