// @import "~variables";

// 
// Fonts
// 
// $font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
$font-family: 'Roboto', sans-serif;

$green: #003334;
$yellow: #FFA500;
$lightgrey: #C3C3C3;
$grey:#636363;
$darkgrey: #363636;
