.container { 
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    align-items: center;
}

.timeBorder:first-child {
    margin-right: 15px;
}

.input {
    width: 150px;
}